<div id="charm-container" class="charm-container">
      <div class="dragme" style="visibility:hidden">DRAG ME!</div>
      <div class="chm__1_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="1" data-vid="" src="" data-pid="" style="top: 60%; left: 70%;">
          <div class="charm-rotate_l 1"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 1" data-index="1" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 1"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__2_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="2" data-vid="" src="">
          <div class="charm-rotate_l 2"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 2" data-index="2" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 2"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__3_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="3" data-vid="" src="">
          <div class="charm-rotate_l 3"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 3" data-index="3" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 3"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__4_wrapper charm_w"count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="4" data-vid="" src="">
          <div class="charm-rotate_l 4"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 4" data-index="4" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 4"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__5_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="5" data-vid="" src="">
          <div class="charm-rotate_l 5"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 5" data-index="5" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 5"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__6_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="6" data-vid="" src="">
          <div class="charm-rotate_l 6"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 6" data-index="6" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 6"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__7_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="7" data-vid="" src="">
          <div class="charm-rotate_l 7"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 7" data-index="7" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 7"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__8_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="8" data-vid="" src="">
          <div class="charm-rotate_l 8"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 8" data-index="8" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 8"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <div class="chm__9_wrapper charm_w" count_pr="">
        <div class="inner__charm_w">
          <img class="charm" data-index="9" data-vid="" src="">
          <div class="charm-rotate_l 9"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_5.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
          <div class="charm-close 9" data-index="9" data-pid="" data-vid="">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Group_181.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></a>
          </div>
          <div class="charm-rotate_r 9"><img src="https://cdn.shopify.com/s/files/1/0268/8365/3667/files/Vector_4.svg?v=1698668275" data-uw-rm-alt-original="" role="presentation" alt="" data-uw-rm-alt="true"></div>
        </div>
      </div>
      <!-- <img class="charm" data-index="8" data-vid="" src=""><div class="charm-close 8" data-index="8" data-pid="" data-vid="" style="visibility:hidden;"><a href="#">X</a></div>
      <img class="charm" data-index="9" data-vid="" src=""><div class="charm-close 9" data-index="9" data-pid="" data-vid="" style="visibility:hidden;"><a href="#">X</a></div> -->
    </div>


    